body{
  background-image: url(https://i.ibb.co/18Cy3T1/fondo-huesos.jpg);
}


body > * {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Inicia Header */

.navbar{
  background-color: #e6cca5;
}

.logo{
  display:inline-block;
}


.icono_logo{
  float: left;
}


.txt_logo{
  float: right;
}


.navbar{
  text-align: center;
}


li{
  display: inline;
  margin: 5px;
  padding: 15px;
  margin: 0px auto;
}

.actions > * {
  padding: 15px;
  align-items: center;
}

/* Inicia Seccion Inicio */
.seccion_inicio{
  margin: 25px;
  text-align: center;
  background-color:  #e6cca5;
}

.container_img_ini{
  display: block;
  text-align:center;
}


.txt_ini{
  font-size: 35px;
  font-family: cursive;
}

.container_txt_inicio > *{
  margin: auto;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.autor_ini{
  text-align: right;
  font-weight: bold;
  font-style: italic;
}

.video_ini{
  justify-content: center;
  margin: auto;
}


/* Inicia Seccion Color */
.seccion_color{
  align-content: center;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #d2b994;
}

.section_color > *{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container_color > *{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tittle_color{
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}

.container_colores{
  margin: 2px;
  padding: 10px;
}

.container_colores > *{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-color > * {
  justify-content: center;
  align-items: center;
}



 
/* Inicia Seccion Historia */
.seccion_historia{
  background-color: #dec7b1;
  margin: 25px;
}

.tittle_historia{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.container_hijo_historia > *{
  justify-content: center;
  align-items: center;
}

.card_historia > *{
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-title-historia{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.card-img-top2{
  display: flex;
  margin: auto;
  padding: 15px;
}

.img_bulldog{
  float: left;
}

.img_terrier{
  float: right;
}

.container-padre-img-card{
  display:flex;
  margin: auto;
}


.container-hijo2-img-card{
  display: grid;
  width:100%;
}



/* Inicia Seccion Caracteriscas */
.seccion_caracteristicas{
  margin: 25px;
  background-color: #d2b994;
}


.container_padre_carac > * {
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 15px;
}

.tittle_carac{
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}


.img_carac{
  width: 15%;
}

.card-title-carac{
  font-size: 20pt;
}

.card-text{
  text-align: justify;
}


/* Inicia Seccion Datos */
.seccion_datos_pit{
 background-color: #dec7b1;
  margin: 25px;
}

.seccion_datos_pit > *{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px;
}

.container_card > *{
 padding: 15px;
}

.container_datos_pit > *{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container_txt_datos > *{
  padding:15px;
}


.img_datos{
  width: 25%;
}

.tittle_datos{
  font-weight: bold;
  font-size: 25px;
}

.txt_s2_datos{
  text-align: justify;
}

.card-body-datos > *{
  text-align: center;
}

.txt_s1_datos1{
  color: gray;
  font-size: 20px;
}

.txt_s1_datos2{
  color: lightcoral;
  font-size: 20px;
  font-family: cursive;
}

.txt_s1_datos3{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}


/* Inicia Seccion Mitos */
.seccion_mitos_pit{
  justify-content: center;
  margin: 35px;
  background-color: #e6cca5;
}

.img_false{
  width: 10%;
}

.falso {
  text-align:center;
}

table th {
  text-align: center;
}



/* Inicia Seccion Adopta */
.container_adopta{
  display:flex;
  margin: 25px;
}


.container_adopta > *{
  justify-content: center;
  align-items: center;
  text-align:center;
}

.card-body > *{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-title-adopta{
  font-size: 20px;
  font-weight: bold;
}

.img_adop_c1{
  width:95%;
}

.img_adopta2 {
  width:95%;
}

.card-img-overlay > *{
  justify-content: center;
  align-items: center;
  text-align:center;
}

.card-body > *{
  justify-content: center;
  align-items: center;
  text-align:center;
}

.logo_sadopta{
  width: 50%;
  align-items: left;
}

.card-text-1{
  font-family: cursive;
  font-size: 25px;
}

.card-text-2, .card-text-3{
  font-size: 15px;
  text-align: center;
}

.img_adopta3{
  width: 95%;
}

.card-text-4{
  font-size: 20px;
  font-family: cursive;
}

.img_adopta4{
  width: 92%;
}

.logo-adopta{
  display:flex;
}

/* Inicia Seccion Publicidad */
.seccion_publicidad{
  background-color: #dec7b1;
  margin:25px;
}

.seccion_publicidad > *{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.txt_publis2 > *{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.txt_publis1 > *{
  justify-content: center;
  align-items: center;
  text-align: center;
}



.txt_publi2, .txt_pub_color1, .txt_publi1{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.txt_pub_color1, .txt_pub_color2{
  font-weight: bold;
  font-style: italic;
  color: lightcoral;
}

.tittle_pub{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.txt_publi4{
  font-size: 20px;
}

#boton_sec2_pub{
  align-items: center;
  text-align: center;
}



/* Inicia Seccion Footer */
.container_padre_footer{
  background-color: #e6cca5;
  margin: 25px;
}

.container_padre_footer > *{
  padding: 10px;
}

.footer_seccion1, .footer_seccion2 > *{
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.newsletter > *{
  padding: 15px;
}

button{
  font-family: cursive;
  font-size: 12pt;
  text-align: center;
  color: white;
  background-color: lightcoral;
}

.logo-footer{
  width:25%;
}

.redes_sociales{
  display:flex;
}

.redes_sociales > *{
  padding: 10px;
}

.img_redes{
  width: 12%;
}

.logo-foo, .cuida_animal{
  display:flex;
}

.txt_cuida{
  float: right;
}

.icono_foo{
  float: left;
  width: 10%;
}

.tittle_sf1{
  font-weight: bold;
  font-style: italic;
}

.tittle_sf2{
  font-weight: bold;
}

.menu_foo > *{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.txt_copy{
  font-weight: bold;
  text-align: center;
}